<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.13">
      <gitLabConnection></gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_TAG</name>
          <description></description>
          <defaultValue>rel2.2.2_test</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>DOCKER_HUB_PASSWORD</name>
          <description></description>
          <defaultValue>{AQAAABAAAAAQMfJ159Vzc2nDEZZkqCPhui8/K2QxwD8kAIZJ/WBSZkg=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.2">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.3.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://rlp243@bitbucket.org/gobiiproject/gobii.markerapp.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/release/2.2.2</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>pwd

ls -larth

#-----------------------------------------------------------------------------#

# removing current docker containers
docker rm -f gobiimarkerapp-worker gobiimarkerapp redis || true;
echo;

# Deleting images
docker image rm $(docker images) || true;
echo;

# Setting env params
HOST_DATA_VOLUME=data/pedver/
echo;

# Create directories for pedver data

mkdir -p ${HOST_DATA_VOLUME} || true;

mkdir -p ${HOST_DATA_VOLUME}data/ || true;

mkdir -p ${HOST_DATA_VOLUME}instance/ || true;

# Export vars

export CONTAINER_DATA_FOLDER=/data/
echo;

export CONTAINER_INSTANCE_FOLDER=/gobiimarkerapp/instance/
echo;

#-----------------------------------------------------------------------------#
### Docker Login


DOCKER_HUB_LOGIN_USERNAME=&quot;gadmreader&quot;

# read -sp &quot;Please enter your Docker Hub password: &quot; DOCKER_HUB_PASSWORD
# echo;

docker login -u $DOCKER_HUB_LOGIN_USERNAME -p $DOCKER_HUB_PASSWORD;
echo;

#-----------------------------------------------------------------------------#
### Start Container builds &amp; deployments

# Pull redis from dockerhub
docker pull redis
echo;

# Deploy redis
docker run -dti \
-p 6379:6379 \
--name redis \
--restart=always \
redis
echo;

# Copy config.ini for container access

mkdir -p ${HOST_DATA_VOLUME}instance/
sudo cp config.ini ${HOST_DATA_VOLUME}instance/
echo;

# Setting redis IP from docker network
REDIS_IP=$(docker inspect -f &apos;{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}&apos; redis)
echo;

# ! Running Python Script (What is this doing?)
python3 setup_config.py -i ${HOST_DATA_VOLUME}/instance/config.ini -r ${REDIS_IP}
echo;

# Build app node
docker build -f gobiimarkerapp/Dockerfile -t gobiimarkerapp:0.5 .
echo;

# Build worker node
docker build -f celerytasks/Dockerfile -t gobiimarkerapp-worker:0.5 .
echo;

# Deploy app node
docker run -dti \
-p 80:80 \
-v /var/jenkins_home/workspace/pedver_build/${HOST_DATA_VOLUME}data:${CONTAINER_DATA_FOLDER} \
-v /var/jenkins_home/workspace/pedver_build/${HOST_DATA_VOLUME}instance:${CONTAINER_INSTANCE_FOLDER} \
--hostname gobiimarkerapp-web-node \
--restart=always \
--name gobiimarkerapp \
gobiimarkerapp:0.5
echo;

# Deploy worker node
docker run -dti  \
-v /var/jenkins_home/workspace/pedver_build/${HOST_DATA_VOLUME}data:${CONTAINER_DATA_FOLDER} \
-v /var/jenkins_home/workspace/pedver_build/${HOST_DATA_VOLUME}instance:${CONTAINER_INSTANCE_FOLDER} \
--hostname gobiimarkerapp-worker-node  \
--restart=always \
--name gobiimarkerapp-worker \
gobiimarkerapp-worker:0.5
echo;

# create and push docker images
docker commit -m &quot;Image created for build tag: $BUILD_TAG&quot; redis gadm01/gobii_pedver_redis:$BUILD_TAG

docker commit -m &quot;Image created for build tag: $BUILD_TAG&quot; gobiimarkerapp-worker gadm01/gobii_pedver_worker:$BUILD_TAG

docker commit -m &quot;Image created for build tag: $BUILD_TAG&quot; gobiimarkerapp gadm01/gobii_pedver_web:$BUILD_TAG

# Push new docker images
docker push gadm01/gobii_pedver_redis:$BUILD_TAG

docker push gadm01/gobii_pedver_worker:$BUILD_TAG

docker push gadm01/gobii_pedver_web:$BUILD_TAG

echo &quot;PedVer build Completed&quot;
echo;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.38">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.11.5"/>
  </buildWrappers>
</project>