<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>OldData</string>
  </disabledAdministrativeMonitors>
  <version>2.285</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.FullControlOnceLoggedInAuthorizationStrategy">
    <denyAnonymousReadAccess>true</denyAnonymousReadAccess>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <systemMessage>&lt;h3&gt;localhost&lt;/h3&gt;</systemMessage>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter" plugin="antisamy-markup-formatter@2.1">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <description>&lt;h1&gt;GOBii Jenkins DevOps&lt;/h1&gt;&#xd;
</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>136</int>
          <string>ACTIVATE_ENCRYPTION</string>
          <string>false</string>
          <string>AUTH_TYPE</string>
          <string>LDAP_CONNECT_WITH_MANAGER</string>
          <string>BROWSER_PORT</string>
          <string>8084</string>
          <string>BUNDLE_PARENT_PATH</string>
          <string>/data</string>
          <string>BUNDLE_PATH</string>
          <string>/data/gobii_bundle</string>
          <string>BUNDLE_TEMP_PATH</string>
          <string>/var/gobii_bundle</string>
          <string>COMPUTE_HOST</string>
          <string>gobii-compute-node</string>
          <string>CONFIG_XML</string>
          <string>/data/gobii_bundle/config/gobii-web.xml</string>
          <string>CONFIGURATOR_PARAM_FILE</string>
          <string>gobii.parameters.tmp</string>
          <string>CONTAINER_PEDVER_NAME_REDIS</string>
          <string>pedver-redis</string>
          <string>CONTAINER_PEDVER_NAME_WEB</string>
          <string>pedver-web</string>
          <string>CONTAINER_PEDVER_NAME_WORKER</string>
          <string>pedver-worker</string>
          <string>CROP1</string>
          <string>dev</string>
          <string>CROP1_CONTEXT_PATH</string>
          <string>/gobii-dev</string>
          <string>CROP1_WAR_NAME</string>
          <string>gobii-dev.war</string>
          <string>DB_HOST</string>
          <string>gobii-db-node</string>
          <string>DB_NAME_CROP1</string>
          <string>gobii_dev</string>
          <string>DB_PORT</string>
          <string>5432</string>
          <string>DB_USERNAME</string>
          <string>appuser</string>
          <string>DIGESTER_JAR_NAME</string>
          <string>Digester.jar</string>
          <string>DOCKER_BROWSER_CONTAINER_NAME</string>
          <string>browser-node</string>
          <string>DOCKER_BROWSER_NAME</string>
          <string>gobii-browser-node</string>
          <string>DOCKER_BUNDLE_NAME</string>
          <string>gobii_bundle</string>
          <string>DOCKER_COMPUTE_CONTAINER_HOSTNAME</string>
          <string>compute-node</string>
          <string>DOCKER_COMPUTE_HOST</string>
          <string>gobii-compute-node</string>
          <string>DOCKER_COMPUTE_NAME</string>
          <string>gobii-compute-node</string>
          <string>DOCKER_COMPUTE_SSH_PORT</string>
          <string>2222</string>
          <string>DOCKER_CRON_FILE_AGE</string>
          <string>+2</string>
          <string>DOCKER_CRON_INTERVAL</string>
          <string>2</string>
          <string>DOCKER_CROP1_NAME</string>
          <string>dev</string>
          <string>DOCKER_DB_CONTAINER_HOSTNAME</string>
          <string>db-node</string>
          <string>DOCKER_DB_HOST</string>
          <string>gobii-db-node</string>
          <string>DOCKER_DB_NAME</string>
          <string>gobii-db-node</string>
          <string>DOCKER_DB_PORT</string>
          <string>5433</string>
          <string>DOCKER_HAPLO_CONTAINER_HOSTNAME</string>
          <string>haplo-node</string>
          <string>DOCKER_HAPLO_NAME</string>
          <string>gobii-haplo-node</string>
          <string>DOCKER_HAPLO_PORT</string>
          <string>8085</string>
          <string>DOCKER_HUB_COMPUTE_NAME</string>
          <string>gobii_compute_vanilla_ubuntu</string>
          <string>DOCKER_HUB_DB_NAME</string>
          <string>gobii_db_vanilla_ubuntu</string>
          <string>DOCKER_HUB_HAPLO_NAME</string>
          <string>haplotool</string>
          <string>DOCKER_HUB_KDC_NAME</string>
          <string>gobii_kdc_ubuntu</string>
          <string>DOCKER_HUB_LOGIN_USERNAME</string>
          <string>gadmreader</string>
          <string>DOCKER_HUB_USERNAME</string>
          <string>gadm01</string>
          <string>DOCKER_HUB_WEB_NAME</string>
          <string>gobii_web_vanilla_ubuntu</string>
          <string>DOCKER_KDC_CONTAINER_HOSTNAME</string>
          <string>kdc-node</string>
          <string>DOCKER_KDC_NAME</string>
          <string>gobii-kdc-node</string>
          <string>DOCKER_LL_PORT</string>
          <string>8084</string>
          <string>DOCKER_NETWORK_NAME</string>
          <string>gobii_net</string>
          <string>DOCKER_OC_NAME</string>
          <string>gobii-oc-node</string>
          <string>DOCKER_PEDVER_REDIS_NAME</string>
          <string>gobii-pedver-redis</string>
          <string>DOCKER_PEDVER_WEB_NAME</string>
          <string>gobii-pedver-web</string>
          <string>DOCKER_PEDVER_WORKER_NAME</string>
          <string>gobii-pedver-worker</string>
          <string>DOCKER_PORTAINER_CONTAINER_HOSTNAME</string>
          <string>portainer-node</string>
          <string>DOCKER_PORTAINER_NAME</string>
          <string>gobii-portainer-node</string>
          <string>DOCKER_PORTAINER_VERSION</string>
          <string>latest</string>
          <string>DOCKER_SHERPA_AGENT_NAME</string>
          <string>portainer-sherpa-node</string>
          <string>DOCKER_SUDOER_USERNAME</string>
          <string>gadm</string>
          <string>DOCKER_WEB_CONTAINER_HOSTNAME</string>
          <string>web-node</string>
          <string>DOCKER_WEB_HOST</string>
          <string>gobii-web-node</string>
          <string>DOCKER_WEB_NAME</string>
          <string>gobii-web-node</string>
          <string>DOCKER_WEB_PORT</string>
          <string>8081</string>
          <string>DOCKERHUB_PEDVER_REPO_REDIS</string>
          <string>gobii_pedver_redis</string>
          <string>DOCKERHUB_PEDVER_REPO_WEB</string>
          <string>gobii_pedver_web</string>
          <string>DOCKERHUB_PEDVER_REPO_WORKER</string>
          <string>gobii_pedver_worker</string>
          <string>ENV_NAME</string>
          <string>localhost_env</string>
          <string>EXTERNAL_HOST_IP_HOSTNAME</string>
          <string>localhost</string>
          <string>EXTRACTOR_JAR_NAME</string>
          <string>Extractor.jar</string>
          <string>GOBII_DEPLOY_VERSION</string>
          <string>&quot;Release X.Y.Z&quot;</string>
          <string>GOBII_GID</string>
          <string>1001</string>
          <string>GOBII_UID</string>
          <string>1000</string>
          <string>GOBII_WAR_LOCATION</string>
          <string>/usr/local/tomcat/webapps/</string>
          <string>KDC_ACTIVE</string>
          <string>true</string>
          <string>KDC_CONTEXT_PATH</string>
          <string>kdcompute</string>
          <string>KDC_HOST</string>
          <string>gobii-kdc-node</string>
          <string>KDC_JOB_CHECK_STATUS</string>
          <string>60</string>
          <string>KDC_JOB_DOWNLOAD</string>
          <string>qcDownload</string>
          <string>KDC_JOB_FAIL_THRESHOLD</string>
          <string>2880</string>
          <string>KDC_JOB_START</string>
          <string>qcStart</string>
          <string>KDC_JOB_STATUS</string>
          <string>qcStatus</string>
          <string>KDC_PORT</string>
          <string>8083</string>
          <string>KDC_PORT_INTERNAL</string>
          <string>8080</string>
          <string>KDC_PURGE</string>
          <string>qcPurge</string>
          <string>KDC_RELEASE_VERSION</string>
          <string>server_1.6.1-plugin_0.14.3-build_110</string>
          <string>LDAP_BACKGROUND_USER</string>
          <string>gadm</string>
          <string>LDAP_BIND_USER</string>
          <string>cn=admin,dc=gobiiproject,dc=org</string>
          <string>LDAP_DN</string>
          <string>uid={0}</string>
          <string>LDAP_HOST</string>
          <string>gobii-ldap-node</string>
          <string>LDAP_URL</string>
          <string>ldap://gobii-ldap-node/dc=gobiiproject,dc=org</string>
          <string>LIQUIBASE_CROP1_CONTEXTS</string>
          <string>general,seed_general,seed_crop1</string>
          <string>LIQUIBASE_CROP2_CONTEXTS</string>
          <string>general,seed_general,seed_crop2</string>
          <string>LL_USER1</string>
          <string>admin</string>
          <string>MAIL_HASH</string>
          <string>na</string>
          <string>MAIL_HOST</string>
          <string>smtp.gmail.com</string>
          <string>MAIL_PORT</string>
          <string>587</string>
          <string>MAIL_TYPE</string>
          <string>SMTP</string>
          <string>MAIL_USERNAME</string>
          <string>gobii.rhodes@gmail.com</string>
          <string>MULTINODE1_FQDN_IP</string>
          <string>localhost</string>
          <string>MULTINODE2_FQDN_IP</string>
          <string>localhost</string>
          <string>MULTINODE3_FQDN_IP</string>
          <string>localhost</string>
          <string>NDD_PATH</string>
          <string>/storage/persistent_data</string>
          <string>ORIGINAL_FILE_BACKUP_LOCATION</string>
          <string>hotfix_origbkupFiles/</string>
          <string>PEDVER_DATA_VOLUME</string>
          <string>/data/pedver</string>
          <string>PEDVER_DOCKER_NET</string>
          <string>pedver_net</string>
          <string>PEDVER_REDIS_PORT</string>
          <string>6379</string>
          <string>PORTAINER_PORT</string>
          <string>9000</string>
          <string>PORTAL_CONFIG_FILE_NAME</string>
          <string>launchers.xml</string>
          <string>PORTAL_CONFIG_LOCATION</string>
          <string>/usr/local/tomcat/webapps/gobii-portal/config</string>
          <string>PORTAL_CONFIG_PATH</string>
          <string>/usr/local/tomcat/webapps/gobii-portal/config/launchers.xml</string>
          <string>PORTAL_CROP1_NAME</string>
          <string>dev</string>
          <string>PORTAL_CROP1_NAME_XPATH</string>
          <string>.//launcher[name=&apos;dev&apos;]/name</string>
          <string>PORTAL_CROP1_URL</string>
          <string>localhost:8081/gobii-dev</string>
          <string>PORTAL_CROP1_URL_XPATH</string>
          <string>.//launcher[name=&apos;dev&apos;]/url</string>
          <string>PORTAL_FLAPJACK_BYTZ_URL</string>
          <string>https://gobiiproject.atlassian.net/wiki/spaces/GD/pages/238911510/Flapjack+Bytes</string>
          <string>PORTAL_FLAPJACK_BYTZ_URL_XPATH</string>
          <string>.//launcher[name=&apos;Flapjack Bytes&apos;]/url</string>
          <string>PORTAL_HAPLOTOOL_URL</string>
          <string>localhost:8085</string>
          <string>PORTAL_HAPLOTOOL_URL_XPATH</string>
          <string>.//launcher[name=&apos;Haplo Tool&apos;]/url</string>
          <string>PORTAL_KDC_URL</string>
          <string>localhost:8083/kdcompute</string>
          <string>PORTAL_KDC_XPATH</string>
          <string>.//launcher[name=&apos;GDM Data QC&apos;]/url</string>
          <string>PORTAL_LOADER_URL</string>
          <string>https://gobiiproject.atlassian.net/wiki/spaces/GD/pages/349044899/Downloads</string>
          <string>PORTAL_LOADER_URL_XPATH</string>
          <string>.//launcher[name=&apos;GDM Data Loader&apos;]/url</string>
          <string>PORTAL_OWNCLOUD_URL</string>
          <string>http://localhost:8084</string>
          <string>PORTAL_OWNCLOUD_URL_XPATH</string>
          <string>.//launcher[name=&apos;File Browser&apos;]/url</string>
          <string>PORTAL_PEDVER_URL</string>
          <string>localhost:7000</string>
          <string>PORTAL_PEDVER_URL_XPATH</string>
          <string>.//launcher[name=&apos;PedVer&apos;]/url</string>
          <string>PORTAL_PORTAINER_URL</string>
          <string>localhost:9000</string>
          <string>PORTAL_PORTAINER_URL_XPATH</string>
          <string>.//launcher[name=&apos;Portainer&apos;]/url</string>
          <string>PORTAL_TIMESCOPE_URL</string>
          <string>localhost:8081/timescope</string>
          <string>PORTAL_TIMESCOPE_URL_XPATH</string>
          <string>.//launcher[name=&apos;Timescope&apos;]/url</string>
          <string>POSTGRES_ETC</string>
          <string>gobiipostgresetcubuntu</string>
          <string>POSTGRES_LIB</string>
          <string>gobiipostgreslibubuntu</string>
          <string>POSTGRES_LOG</string>
          <string>gobiipostgreslogubuntu</string>
          <string>TIMESCOPE_WAR_NAME</string>
          <string>timescope.war</string>
          <string>TIMESCOPER_CONFIG_LOCATION</string>
          <string>/usr/local/tomcat/webapps/timescope/WEB-INF/classes</string>
          <string>TIMESCOPER_USER</string>
          <string>timescoper</string>
          <string>WEB_HOST</string>
          <string>gobii-web-node</string>
          <string>WEB_PORT</string>
          <string>8080</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>