<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;b&gt;This will build a the latest jenkins container and will install:&lt;/b&gt;&lt;br&gt;&#xd;
• docker-ce&lt;br&gt;&#xd;
• docker-compose&lt;br&gt;&#xd;
&lt;b&gt;This will also add docker group to Jenkins user as well as install:&lt;/b&gt;&lt;br&gt;&#xd;
• vim&lt;br&gt;&#xd;
• tree&lt;br&gt;&#xd;
• htop&lt;br&gt;&#xd;
• sudo&lt;br&gt;&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_HUB_USERNAME</name>
          <description>Dockerhub repo owner.  
**In GOBii this is gadm01 where as the login is gadmreader.**</description>
          <defaultValue>gadm01</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>DOCKER_HUB_PASSWORD</name>
          <description>The password used by dockerhub user &apos;gadmreader&apos; which is a collaborator on the repos owned by &apos;gadm01&apos;.</description>
          <defaultValue>{AQAAABAAAAAQFp4Y8+t1srz04HDVSni4dbl3h4qiG8w7F8bhCSAeB5c=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_HUB_REPO_NAME</name>
          <description>Repo name in Dockerhub. (gobii_jenkins)</description>
          <defaultValue>gobii_jenkins</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH</name>
          <description>The branch from the jenkins repo used for the build.</description>
          <defaultValue>develop</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_HUB_LOGIN_USERNAME</name>
          <description>This is the username used to log into Dockerhub. (gadmreader)
**This is different from DOCKER_HUB_USERNAME as in GOBii gadm01 is the owner where as gadmreader is the collaborator with access to the repos.**</description>
          <defaultValue>gadmreader</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.4.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://bitbucket.org/gobiiproject/gobii.jenkins.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/$BRANCH</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/usr/bin/env bash

#--------------------------------------#

set -e # Abort script at first error
set -u # Attempt to use undefined variable outputs error message
#set -x # Verbose with commands displayed

#--------------------------------------#

echo &quot;$BRANCH&quot;
BUILD_TAG=&quot;$BRANCH&quot;_$(date +&quot;%Y%m%d&quot;)_build_$BUILD_NUMBER
echo &quot;BUILD_TAG is set as: $BUILD_TAG&quot;;
echo;

#--------------------------------------#
# Remove any jenkins/jenkins:latest images

docker rmi -f jenkins/jenkins:latest

#--------------------------------------#
# running jenkins image build

cd ~/jenkins_container_build/

time docker image build -t $DOCKER_HUB_USERNAME/$DOCKER_HUB_REPO_NAME:$BUILD_TAG .

#--------------------------------------#
# log into dockerhub

set +x # Turning down verbosity as the password is echoed to stdout
docker logout
docker login -u $DOCKER_HUB_LOGIN_USERNAME -p $DOCKER_HUB_PASSWORD
set -x

#--------------------------------------#
# push image

time docker push $DOCKER_HUB_USERNAME/$DOCKER_HUB_REPO_NAME:$BUILD_TAG

#--------------------------------------#
# Remove any jenkins/jenkins:latest images

docker rmi -f jenkins/jenkins:latest

#--------------------------------------#

echo &quot;Jenkins image build Completed!&quot;
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.38">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.11.8"/>
  </buildWrappers>
</project>