<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;b&gt;This will build the docker images needed for PedVer.&lt;/b&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH</name>
          <description>This is the branch being used for gobii.markerapp. (develop) (release/x.y.z)</description>
          <defaultValue>release/2.2.3</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>DOCKER_HUB_PASSWORD</name>
          <description></description>
          <defaultValue>{AQAAABAAAABAhqZAAL16GoSnB8PK/s6wFInrtw5TUzsz0q2XhxYU/7qrlpAmql0lbNssNkyynvFJChQGQ18p0e3bM6twtOG2UZ/46Qrf/pK/l+T5J0U/8rE=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_TAG</name>
          <description></description>
          <defaultValue>rel223</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.4.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://bitbucket.org/gobiiproject/gobii.markerapp.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/$BRANCH</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#--------------------------------------#

set -e # Abort script at first error
set -u # Attempt to use undefined variable outputs error message
#set -x # Verbose with commands displayed

#--------------------------------------#

echo &quot;$BRANCH&quot;
echo;
echo &quot;BUILD_TAG is set as: $BUILD_TAG&quot;;
echo;

#--------------------------------------#

export $BUILD_TAG

# Building PedVer Docker images
time bash ./gobii_pedver_build.sh

#--------------------------------------#
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.38">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.11.8"/>
  </buildWrappers>
</project>